Keras==2.3.1
opencv-python==4.2.0.34
pandas==1.0.3
pickleshare==0.7.5
py==1.8.1
pygame==1.9.6
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
sounddevice==0.3.15
tensorflow==2.5.3
virtualenv==20.0.17
